.abuot {
    width: 100%;
    height: 996px;
    background: url('../../assets/aboutbg.png') no-repeat;
    background-size: cover;
    background-color: #665464;

    @media (max-width: 767.98px) {
        height: 2188px;
    }

    @media (min-width: 767.98px) and (max-width: 991.98px) {
        height: 1464px;
    }
    
    &-title {
        margin: 200px auto 60px auto;
        --animation-duration: 2s;
        --animate-repeat: 1;


        @media (max-width: 767.98px) {
            margin: 50px auto;
        }

        &__title {
            margin-bottom: 32px;
            font-size: 60px;
            line-height: 58px;
            color: #ffffff;
            font-weight: 300;
            text-transform: uppercase;

            @media (max-width: 767.98px) {
                font-size: 40px;
            }
        }

        &__text {
            margin: 0 7%;
            font-size: 14px;
            line-height: 24px;
            color: #e6d1e3;
            font-weight: 400;

            @media (max-width: 575.98px) {
                margin: 0 4%;
                font-size: 12px;
                line-height: 20px;
            }
            @media (min-width: 576px) and (max-width: 767.98px) {
                margin: 0 7%;
                font-size: 12px;
                line-height: 20px;
            }
            @media (min-width: 767.98px) and (max-width: 1199.98px) {
                margin: 0 7%;
            }
        }

        &__title, &__text {
            text-align: center;
        }
    }    
}

.about-greetings {
    position: relative;
    margin-bottom: 60px;
    --animation-duration: 2s;
    --animate-repeat: 2;


    @media (max-width: 1199.98px) {
        margin-bottom: 60px auto;
    }
}

.about-greetings-text {
    position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -98px;
}

.about-greetings-text__item {
    font-size: 25px;
    line-height: 58px;
    color: #fff;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.about-block {
    @media (max-width: 767.98px) {
        margin: 0 2%;
    }
}

.about-block-item {
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #4d3f4b;
    transition: .3s ease-in;
    --animate-repeat: 2;

    &-icon {
        width: 154px;
        height: 154px;
        margin: 42px auto 12px auto;
        background: url('../../assets/icons/User.svg') no-repeat;
        background-position: center 10px;
        border-radius: 100%;
        background-color: #fff;
        border: 5px solid #a1859e;
    }
    
    &__title {
        font-size: 25px;
        line-height: 58px;
        color: #fff;
        font-weight: 900;
        text-align: right;
        text-transform: uppercase;
        
    }

    &__subtitle {
        font-size: 14px;
        line-height: 14px;
        color: #a1ca6c;
        font-weight: 400;
        text-align: right;
    }

    &-social {
        margin: 36px auto 56px;
        
        &-icon-facebook, &-icon-twitter, &-icon-google, &-icon-linkedin {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background-color: #a1859e;
        }

        &-icon-facebook, &-icon-twitter, &-icon-google {
            margin-right: 20px;
        }
    }
}

.about-block-item:hover .about-block-item-icon {
    background: url('../../assets/icons/User-hover.svg') no-repeat;
    background-position: center 10px;    
    background-color: #fff;
    border: 5px solid #df5c64;
}

.about-block-item:hover .about-block-item__subtitle {
    color: #df5c64;
}

.about-block-item:hover .about-block-item-social-icon-facebook {
    background-color: #4f689e;
}

.about-block-item:hover .about-block-item-social-icon-twitter {
    background-color: #74c7d5;
}

.about-block-item:hover .about-block-item-social-icon-google {
    background-color: #df5c64;
}

.about-block-item:hover .about-block-item-social-icon-linkedin {
    background-color: #3e61af;
}