.contacts {
    width: 100%;
    height: 866px;
    background: url('../../assets/contacts.png') no-repeat;
    background-size: cover;
    background-color: #75b4aa;

    @media  (max-width: 767.98px) {
        height: 1308px;
    }

    @media (min-width: 767.98px) and (max-width: 991.98px) {
        height: 1064px;
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        height: 964px;
    }

    &-title {
        margin: 200px auto 118px;
        --animation-duration: 2s;
        --animate-repeat: 1; 

        @media (max-width: 767.98px) {
            margin: 50px auto;
        }

        &__title {
            margin-bottom: 30px;
            font-size: 60px;
            line-height: 58px;
            font-weight: 300;

            @media (max-width: 767.98px) {
                font-size: 40px;
            }
        }

        &__text {
            margin: 0 7%;
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            text-align: center;

            @media (max-width: 575.98px) {
                margin: 0 4%;
                font-size: 12px;
                line-height: 20px;
            }
            @media (min-width: 576px) and (max-width: 767.98px) {
                margin: 0 7%;
                font-size: 12px;
                line-height: 20px;
            }
            @media (min-width: 767.98px) and (max-width: 1199.98px) {
                margin: 0 7%;
            }
        }

        &__title, &__text {
            color: #fff;
            text-align: center;
        }
    }
}

.contacts-block-title {
    width: 114px;
    height: 30px;
    margin: 0 0 26px 28px;

    &__text {
        font-size: 30px;
        line-height: 30px;
        color: #fff;
        font-weight: 300;
    }
}

.contacts-block-top {
    margin-bottom: 30px;
    
    &__title {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 17px;
        color: #c0dfda;
        font-weight: 700;
    }

    &__text {
        font-size: 16px;
        line-height: 26px;
        color: #fff;
        font-weight: 400;
    }
}

.contacts-block-bottom {
    width: 220px;

    &-contacts {
        margin-right: 20px;

        &__item {
            font-size: 16px;
            line-height: 26px;
            color: #d0efea;
            font-weight: 400;
        }
    }
}

.contacts-block-bottom-value__item {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    font-weight: 400;
}

#map {
    width: 260px;
    height: 222px;
    transition: .3s ease-in;

    @media (max-width: 767.98px) {
        width: 80%;
        margin: 20px auto 0;
    }

    @media (max-width: 991.98px) {
        margin-top: 20px;
    }

    &:hover {
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
}

.contacts-form-title {
    width: 200px;
    height: 30px;
    margin: 0 0 26px 16px;

    @media (max-width: 991.98px) {
        margin-top: 20px;
    }

    &__text {
        font-size: 30px;
        line-height: 30px;
        color: #fff;
        font-weight: 300;
    }
}

.form-container {
    margin-bottom: 20px;
    padding: 0;
}

.contacts-form-text, .contacts-form-email, .contacts-form-textarea {
    border: none;
    border-radius: 4px;
    background-color: #68a097;
    outline: none;
    transition: .3s ease-in;    
}

.contacts-form-text.active, .contacts-form-email.active, .contacts-form-textarea.active {
    background-color: #f6f6f6;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
    font-size: 16px !important;
    line-height: 21px !important;
    color: #82c8bd !important;
    font-weight: 400 !important;
}

.contacts-form-textarea {
    height: 152px !important;
}

.contacts-form-text:hover,
.contacts-form-email:hover,
.contacts-form-textarea:hover,
.contacts-form-text.active,
.contacts-form-email.active,
.contacts-form-textarea.active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset !important;
}

.contacts-form-btn {
    width: 260px;
    height: 50px;
    border-radius: 4px;
    background-color: #df5c64;
    font-size: 26px;
    line-height: 21px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;

    &:hover, &.active {
        background-color: #df5c64 !important;
        font-size: 30px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
}