.footer {
    width: 100%;
    height: 132px;
    background-color: #68a097;
    margin: 0;
    padding: 0;

    &-links {
        width: 60px;
        height: 60px;
        background-color: #82c7bc;
        border-radius: 100%;
        transition: .3s ease-in;
        --animate-repeat: 2;
    
        &:not(:last-child) {
            margin-right: 20px;
        }
    
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
            opacity: .9;
        }
    
        &__item {
            cursor: pointer;
            --animate-repeat: 8;

            &-icon {
                width: 27px;
                height: 26px;
            }
        }
    }
}