.home {
    width: 100%;
    height: 1000px;
}

.myheadernav {
    width: 70%;
    margin: 0 auto;
    padding: 0;

    @media (max-width: 767.98px) {
        width: 100%
    }

    @media (min-width: 768px) and (max-width: 1199.98px) {
        width: 90%;
    }

}

.navbar-brand {
    font-size: 50px;
    line-height: 60px;
    color: #ffffff !important;
    font-weight: 400;
    font-family: "Damion";
    text-align: center;    
}



.nav-item {
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
    border-radius: 0 0 6px 6px;
    
    @media (max-width: 767.98px) {
        width: 100%;
        justify-content: flex-start;
    }
}

.myheadernav .nav-link-home.active,
.myheadernav .nav-link-home:hover {
    background-color: #74c7d5;
}

.myheadernav .nav-link-services.active,
.myheadernav .nav-link-services:hover {
    background-color:#df5c64;
}

.myheadernav .nav-link-about.active,
.myheadernav .nav-link-about:hover {
    background-color: #91778d;
}

.myheadernav .nav-link-work.active,
.myheadernav .nav-link-work:hover {
    background-color:#a1c96b;
}

.myheadernav .nav-link-contacrs.active,
.myheadernav .nav-link-contacrs:hover {
    background-color:#82c8bd;
}

.nav-link {
    padding: 0;
    font-size: 18px;
    line-height: 60px;
    color: #ffffff !important;
    font-weight: 400;
    text-align: center;

    @media (max-width: 767.98px) {
        text-align: right;
    }
}

.d-block {
    width: 100%;
    height: 1000px;
}

.carousel-caption {  
    right: 20%;
    left: 20%;
    margin-bottom: 340px;
    padding: 0;
    background-color: rgba($color: #fff, $alpha: .3);
    
    @media (max-width: 575.98px) {
        margin-bottom: 340px;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        margin-bottom: 340px;
    }
}

.col-sm.main-title, .col-sm.main-subtitle {
    padding: 0 8px;
}

.main-title-text {
    font-size: 60px;
    line-height: 58px;
    color: #74c7d5;
    font-weight: 300;
    text-align: right;

    @media (max-width: 575.98px) {
        margin: 10px auto;
        font-size: 60px;
        line-height: 58px;
        text-align: center;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        margin: auto;
        font-size: 60px;
        line-height: 58px;
        text-align: center;
    }
}

.main-title-subtext {
    font-size: 129px;
    line-height: 129px;
    color: #74c7d5;
    font-weight: 900;
    text-align: left;

    @media (max-width: 575.98px) {
        margin: 10px auto;
        font-size: 60px;
        line-height: 58px;
        text-align: center;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        margin: auto;
        font-size: 60px;
        line-height: 58px;
        text-align: center;
    }
}

.carousel-indicators {
    margin-bottom: 90px;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.carousel-indicators .active {
    background-color: #74c7d5;
}

.carousel-indicators li:not(:last-child) {
    margin-right: 40px;
}

.carousel-control-prev-icon {
    background-image: url('../../assets/icons/arrow\ left.svg');
}

.carousel-control-next-icon {
    background-image: url('../../assets/icons/arrow\ right.svg');
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 40px;
    height: 60px;
}