.services {
    width: 100%;
    height: 1000px;
    background: url('../../assets/servicesbg.png') no-repeat;
    background-size: cover;
    background-color: #b24a50;

    @media (max-width: 575.98px) {
        height: 1928px;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        height: 1828px;
    }

    @media (min-width: 767.98px) and (max-width: 991.98px) {
        height: 1364px;
    }
}

.service-block-title {
    margin: 190px auto 120px auto;
    --animation-duration: 2s;
    --animate-repeat: 1;

    @media (max-width: 767.98px) {
        margin: 50px auto 50px auto;
    }

    &__title {
        margin-bottom: 30px;
        font-size: 60px;
        line-height: 58px;
        font-weight: 300;
        text-align: center;

        @media (max-width: 575.98px) {
            font-size: 40px;
        }
    }

    &__subtitle {
        margin: 0 7%;
        font-size: 20px;
        line-height: 58px;
        font-weight: 400;
        font-family: "Lato";
        text-align: center;
        text-transform: uppercase;

        @media (max-width: 575.98px) {
            font-size: 16px;
            line-height: 30px;
        }
        @media (min-width: 576px) and (max-width: 767.98px) {
            font-size: 16px;
            line-height: 30px;
        }
    }

    &__title, &__subtitle {
        color: #fff;
    }

    &__text {
        margin: 0 13%;
        font-size: 14px;
        line-height: 24px;
        color: #ffcccf;
        font-weight: 400;
        text-align: center;

        @media (max-width: 575.98px) {
            margin: 0 4%;
            font-size: 12px;
            line-height: 20px;
        }
        @media (min-width: 576px) and (max-width: 767.98px) {
            margin: 0 7%;
            font-size: 12px;
            line-height: 20px;
        }
        @media (min-width: 767.98px) and (max-width: 1199.98px) {
            margin: 0 7%;
        }
    }
}

.services-block {
    @media (max-width: 575.98px) {
        margin: 0 2%;
    }
}

.services-block-item {
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #c8535a;
    --animation-duration: 2s;
    --animate-repeat: 1;

    &-icon {
        width: 140px;
        height: 140px;
        margin: 44px auto 16px auto;
        border-radius: 100%;        
    }

    &-inner {
        width: 128px;
        height: 128px;
        border: 6px solid  #c8535a;
        border-radius: 100%; 
    }

    &-icon, &-inner {
        background-color: #fff;
    }
}

.services-block-item-title {
    font-size: 30px;
    line-height: 58px;
    font-weight: 300;
    text-transform: uppercase;    
}

.services-block-item-text {
    margin: 26px auto 20px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
}

.services-block-item-title, .services-block-item-text {
    color: #fefefe;
}